<button (click)="onPrint()">Print</button>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addNode()" [formGroup]="nodeForm" novalidate autocomplete="false">
          <div class="row">
            <div class="col-md-4">
              <h3>Parent Node</h3>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let parentItem of nodes">
                  <input class="form-check-input me-1" type="checkbox" value="{{parentItem.nodeId}}" aria-label="...">
                  <span>{{parentItem.name}} {{parentItem.nodeType}}</span>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <h3>Name</h3>
              <div class="field">
                <div class="control">
                  <input [ngClass]="{'is-danger': displayMessage.Name}" formControlName="Name" class="form-control"
                    type="text" placeholder="Enter Name">
                  <p *ngIf="displayMessage.Name" class="help is-danger">
                    {{ displayMessage.Name }}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <h3>Child Node</h3>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let childItem of nodes">
                  <input class="form-check-input me-1" type="checkbox" value="{{childItem.nodeId}}" aria-label="...">
                  <span>{{childItem.name}} {{childItem.nodeType}}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="button is-block is-primary is-fullwidth is-medium btn btn-primary"
              [disabled]="nodeForm.invalid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="items-container">
  <div>
    <p>process-menu</p>
    <div draggable="true">
      <svg height="100" width="100">
        <rect *ngFor="let i of rex" id="circle-red" width="100" height="50"
          style="fill: rgb(140, 238, 159); stroke-width: 1; stroke: rgb(215, 219, 221);" class="draggable">
        </rect>
      </svg>
    </div>
  </div>

  <div>
    <p>Circle-menu</p>
    <div draggable="true">
      <svg height="100" width="100">
        <circle *ngFor="let i of circleshape" id="circle-blue" cx="35" cy="35" r="35" stroke="black" fill="blue" />
      </svg>
    </div>
  </div>


  <!-- <div draggable="true">
    <svg height="100" width="100">
      <circle id="circle-green" cx="50" cy="50" r="40" stroke="black" fill="green" />
    </svg>
  </div> -->

</div>


<div #topDiv class="content" role="main" style="margin: 5px;overflow-y: scroll;height:1200px;height:1200px;">
  <div #tooltip class="tooltip"></div>
  <svg id="mainSVG" width="4000" height="4000" style="background-color: #D0ECE7;" onload="makeDraggable(evt)"
    appDroppable>
    <defs>
      <marker id="arrow" viewBox="0 -5 10 10" refX="5" refY="0" markerWidth="4" markerHeight="4" orient="auto">
        <path class="cool" d="M0,-5L10,0L0,5" class="arrowHead"></path>
      </marker>
      <circle id="circle" cx="10" cy="10" r="50" />
    </defs>

    <line *ngFor="let arrow of arrows" attr.y1="{{ arrow.y1 }}" attr.x1="{{ arrow.x1  }}" attr.y2="{{ arrow.y2 }}"
      attr.x2="{{ arrow.x2 }}" attr.style="{{ arrow.lineStyle }}" marker-end="url(#arrow)" marker-start="url(#circle)"
      attr.class="{{arrow.className}}" />

    <!-- StartEnd start -->
    <rect *ngFor="let node of startEndNodes" (mousedown)="mouseDown($event,node.name,node.className)"
      (mouseup)="mouseUp($event,node.name,node.className)" rx="50" attr.y="{{ node.nodeY }}" attr.x="{{ node.nodeX }}"
      attr.width="{{ nodeWidth }}" attr.height="{{ nodeHeight }}" attr.style="{{ node.style }}"
      attr.class="{{node.className+ ' draggable'}}" />
    <text *ngFor="let node of startEndNodes" attr.y="{{ node.nodeY + 35 }}" attr.x="{{ node.nodeX + 20 }}"
      fill="#34495E" font-size="20" attr.class="{{node.className+'HS'}}">
      {{ node.nodeId }} {{ node.name }} {{ node.nodeType }}
    </text>
    <text *ngFor="let node of startEndNodes" attr.y="{{ node.nodeY + 70 }}" attr.x="{{ node.nodeX + 20 }}"
      fill="#85929E" font-size="20" attr.class="{{node.className+'HS'}}">
      Task Details : {{node.childs.length}} Childs
    </text>
    <!-- StartEnd end -->

    <!-- process start -->
    <rect *ngFor="let node of processNodes" (mousedown)="mouseDown($event,node.name,node.className)"
      (mouseup)="mouseUp($event,node.name,node.className)" attr.y="{{ node.nodeY }}" attr.x="{{ node.nodeX }}"
      attr.width="{{ nodeWidth }}" attr.height="{{ nodeHeight }}" attr.style="{{ node.style }}"
      attr.class="{{node.className+ ' draggable'}}" />
    <text *ngFor="let node of processNodes" attr.y="{{ node.nodeY + 40 }}" attr.x="{{ node.nodeX + 20 }}" font-size="30"
      style="fill: #82e0aa; stroke-width: 1" attr.class="{{node.className+'HS'}}">
      &#xf18e;
    </text>
    <text *ngFor="let node of processNodes" attr.y="{{ node.nodeY + 20 }}" attr.x="{{ node.nodeX + 180 }}"
      font-size="20" style="fill: #0e6655; stroke-width: 1;cursor: pointer;" attr.class="{{node.className+'HS'}}"
      (mouseenter)="mouseEnter($event, 'Click here to Add New node')" (mouseleave)="mouseLeave($event)">
      &#xf055;
    </text>
    <text *ngFor="let node of processNodes" attr.y="{{ node.nodeY + 20 }}" attr.x="{{ node.nodeX + 200 }}"
      font-size="20" style="fill: #82e0aa; stroke-width: 1;cursor: pointer;" attr.class="{{node.className+'HS'}}"
      (mouseenter)="mouseEnter($event, 'Click here to Edit node')" (mouseleave)="mouseLeave($event)">
      &#xf044;
    </text>
    <text *ngFor="let node of processNodes" attr.y="{{ node.nodeY + 20 }}" attr.x="{{ node.nodeX + 220 }}"
      font-size="20" style="fill: #e74c3c; stroke-width: 1;cursor: pointer;" attr.class="{{node.className+'HS'}}"
      (mouseenter)="mouseEnter($event, 'Click here to Delete node')" (mouseleave)="mouseLeave($event)">
      &#xf056;
    </text>
    <text *ngFor="let node of processNodes" attr.y="{{ node.nodeY + 35 }}" attr.x="{{ node.nodeX + 60 }}" fill="#34495E"
      font-size="20" attr.class="{{node.className+'HS'}}">
      {{ node.nodeId }} {{ node.name }} {{ node.nodeType }}
    </text>
    <text *ngFor="let node of processNodes" attr.y="{{ node.nodeY + 70 }}" attr.x="{{ node.nodeX + 20 }}" fill="#85929E"
      font-size="20" attr.class="{{node.className+'HS'}}">
      Task Details : {{node.childs.length}} Childs
    </text>
    <!-- process end-->

    <!-- decision start -->
    <rect *ngFor="let node of decisionNodes" (mousedown)="mouseDown($event,node.name,node.className)"
      (mouseup)="mouseUp($event,node.name,node.className)" attr.y="{{ node.nodeY }}" attr.x="{{ node.nodeX }}"
      attr.width="{{ decisionWidth }}" attr.height="{{ decisionWidth }}" attr.style="{{ node.style }}"
      attr.class="{{node.className+ ' decision draggable'}}" transform="rotate(45)" />
    <text *ngFor="let node of decisionNodes" attr.y="{{ node.nodeY + 70 }}" attr.x="{{ node.nodeX  + 15}}"
      fill="#34495E" font-size="20" attr.class="{{node.className+'HS'}}">
      {{ node.nodeId }} {{ node.name }} {{ node.nodeType }}
    </text>
    <text *ngFor="let node of decisionNodes" attr.y="{{ node.nodeY + 100 }}" attr.x="{{ node.nodeX + 15 }}"
      fill="#85929E" font-size="20" attr.class="{{node.className+'HS'}}">
      Task Details : {{node.childs.length}} Childs
    </text>
    <!-- decision end -->

    <!-- decision start -->
    <!-- <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" /> -->


    <rect *ngFor="let node of circleNodes" (mousedown)="mouseDown($event,node.name,node.className)"
      (mouseup)="mouseUp($event,node.name,node.className)" attr.y="{{ node.nodeY }}" attr.x="{{ node.nodeX }}"
      attr.width="{{ decisionWidth }}" attr.height="{{ decisionWidth }}" attr.style="{{ node.style }}"
      attr.class="{{node.className+ ' decision draggable'}}" rx="100" />
    <text *ngFor="let node of circleNodes" attr.y="{{ node.nodeY + 70 }}" attr.x="{{ node.nodeX  + 15}}" fill="#34495E"
      font-size="20" attr.class="{{node.className+'HS'}}">
      {{ node.nodeId }} {{ node.name }} {{ node.nodeType }}
    </text>
    <text *ngFor="let node of circleNodes" attr.y="{{ node.nodeY + 100 }}" attr.x="{{ node.nodeX + 15 }}" fill="#85929E"
      font-size="20" attr.class="{{node.className+'HS'}}">
      Task Details : {{node.childs.length}} Childs
    </text>
    <!-- decision end -->

    <style>
      .background {
        fill: #eee;
      }

      .static {
        cursor: not-allowed;
      }

      .draggable {
        cursor: move;
      }
    </style>
    <script type="text/javascript">
      function makeDraggable(evt) {
        var svg = evt.target;
        svg.addEventListener('mousedown', startDrag);
        svg.addEventListener('mousemove', drag);
        svg.addEventListener('mouseup', endDrag);

        function getMousePosition(evt) {
          var CTM = svg.getScreenCTM();
          return {
            x: (evt.clientX - CTM.e) / CTM.a,
            y: (evt.clientY - CTM.f) / CTM.d
          };
        }

        var selectedElement, offset;
        function startDrag(evt) {
          if (evt.target.classList.contains('draggable')) {
            selectedElement = evt.target;

            offset = getMousePosition(evt);
            offset.x -= parseFloat(selectedElement.getAttributeNS(null, "x"));
            offset.y -= parseFloat(selectedElement.getAttributeNS(null, "y"));
          }
        }

        function drag(evt) {
          if (selectedElement) {
            var coord = getMousePosition(evt);
            selectedElement.setAttributeNS(null, "x", coord.x - offset.x);
            selectedElement.setAttributeNS(null, "y", coord.y - offset.y);
          }
        }

        function endDrag(evt) {
          selectedElement = null;
        }
      }
    </script>

  </svg>
  <!-- <pre>{{this.nodes | json}}</pre> -->
</div>






<router-outlet></router-outlet>