svg text {
  font-family: 'FontAwesome';
}

.tooltip {
  display: none;
  position: absolute;
  font-size: 0.75em;
  background-color: white;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 2px;
  margin: 10px;
}

.draggable {
  cursor: move;
}

.decision {
  transform-origin: center;
  transform-box: fill-box;
}

.items-container {
  display: flex;
}

.list-group-item {
  padding: 0.75rem 2.25rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1000px;
  }
}

.modal-footer {
  margin-top: 25px;
}

.modal-header .close {
  padding: 1rem;
  margin: 0rem 0rem -1rem auto;
}
.modal-title {
  margin: 8px 0 8px;
}