svg text {
  font-family: 'FontAwesome';
}

.tooltip {
  display: none;
  position: absolute;
  font-size: 0.75em;
  background-color: white;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 2px;
  margin: 10px;
}

.draggable {
  cursor: move;
}

.decision {
  transform-origin: center;
  transform-box: fill-box;
}

/* 
.Line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 1s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
} */